.sidebar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;


  .sidebar-item {
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }

  .is-active {
    font-weight: bold;
    text-decoration: underline;
  }
}
